body{
    font-family: "Montserrat", sans-serif;
}
:root {
    --color-primary: #F5E3CD;   /* light beige */
    --color-secondary: #FEF3E7; /* softer background */
    --color-tertiary: #9E5B08;  /* accent brown */
    --color-text: #703803;      /* main text */
}
.admin-inventory-report{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: clamp(2rem, 10vw, 15rem);
    width: 80%;
    height: 100%;

}
.inventory-report-section{
    width: 30%;
    margin-bottom: 1rem;
    border: 1px solid var(--color-text);
    border-radius: 30px;
    text-align: center;
    padding: clamp(0.75rem, 1vw, 1rem);
    color: var(--color-text);
    margin-left: 30vw;
    cursor: pointer;
}
.most-used-item-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 60px;
  border: 1px solid #703803;
}

.most-used-item-wrapper p {
  margin: 0;
}
