* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ffffff;
    font-family: "Montserrat", sans-serif;
}

html, body {
  height: 100%;
}

/* Flex layout to push content to top */
body {
  display: flex;
  flex-direction: column;
}
.containerofall {
  display: flex;
}


.content-container {
    margin-left: 20%;       /* same width as sidebar */
    width: 80%;             /* remaining width */
    padding: 20px;
    min-height: calc(100vh - 60px);
}



/* Container for dashboard */
.dashboard-container {
  position: absolute;
  padding: 40px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 40%;
  
}
.dashboard-container h2{
  text-align: center;
}

/* Grid layout */
.container-dashboard {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

/* Box styling */
.box {
  background-color: #F5E3CD;
  padding: 40px;
  border-radius: 10px;
  flex: 1;
  text-align: center;
}

.box span {
  display: block;
  font-size: 32px;
  font-weight: bold;
  margin-top: 10px;
  color: #502C00;
}


