#password-display {
    font-size: clamp(1rem, 5vw, 10.5rem);
    color: #502c00;
}

#password-mask {
    font-weight: bold;
    color: #999;
}

.information-form {
    position: absolute;
    background-color: #FEF3E7;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

form {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin: 0 auto;
}

.form-floating {
    position: relative;
    width: 100%;
}

.form-floating input,
.form-floating select {
    width: 100%;
    padding: 0.5rem;
}

/* Medical History uses its own grid */
.medical-history {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    width: 100%;
    grid-column: span 3; /* span all columns of the parent form */
}

/* Headings span all columns in grid */
h2, h4 {
    grid-column: span 3;
    margin-top: 20px;
    margin-bottom: 10px;
}

hr {
    grid-column: span 3;
    border: 1px solid #ccc;
}

label {
  display: flex;
  margin-bottom: 0.5rem;
  gap: 1rem;
  font-weight: 600;
}
input[type="radio"] {
  margin-right: 0.5rem;
}

.required {
    color: red;
    font-weight: bold;
    display: inline-block;
}

.upload-label {
  border: 1px solid #ccc;
  background-color: #fff;
  color: #502c00;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  font-weight: normal;
}
.upload-label:hover {
  background-color: #f0e6d2;
}


.upload-label i {
  font-size: 1.5rem;
}

