* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ffffff;
    font-family: "Montserrat", sans-serif;
}

html, body {
  height: 100%;
}

#password-display {
    font-size: 16px;
    color: #502c00;
}
#password-mask {
    font-weight: bold;
    color: #999;  /* Light color for the masked password */
}