* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ffffff;
    font-family: "Montserrat", sans-serif;
}

html, body {
    height: 100%;
}

.container {
    display: flex; /* Allow sidebar and content side by side if needed */
    height: 100vh;  /* Full viewport height */
    width: 100%;    /* Full width */
}

.sidebar {
    position: fixed;
    margin-top: 144px;
    background-color: #FEF3E7;
    border-radius: 5px;
    width: 20%;         /* Fixed or relative width */
    height: 100%;         /* Full height of container */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #000;
}
.profilepic-user{
   text-align: center;
}
#profile-pic {
    width: 100px;  /* You can adjust this based on your needs */
    height: 100px;
    border-radius: 50%;  /* Make the image round */
    margin-bottom: 20px;  /* Space between image and username */
}

#username-display {
    margin-top: 40%;
    margin-bottom: 50px;  /* Space between username and the nav items */
    font-size: 22px;
    text-align: center;
}

.nav-buttons {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    
    
}
.nav-item {
  width: 100%; /* make the container full width */
  margin-bottom: 20px;
}

.nav-item button {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;             /* spacing between icon and text */
  padding: 20px 40px;
  margin-left: 5%;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #502C00;
  transition: background 0.3s ease;
}

.nav-item button i {
  font-size: 22px;
}

/* Optional hover effect */
.nav-item button:hover {
    background-color: #F5E3CD ;
  box-shadow: rgb(0, 0, 0);
}

.out{
    font-size: 22px;
    margin-top: 30%;
    margin-left: 20%;
    padding: 15px;
    width: 60%;
    border: 1px solid #502C00;
    border-radius: 20px;
    cursor: pointer;
}
.out:hover{
     background-color: #F5E3CD;
}

 