

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ffffff;
    font-family: "Montserrat", sans-serif;
}

html, body {
  width: 100%;
  overflow-x: hidden; /* Prevent sideways scroll */
}

/*start of first banner */
.slideshow-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 100px;
}

.slide {
  display: none;
  position: relative;
}

.slide img {
  width: 100%;
  height: auto;
}

.fade {
  animation: fadeEffect 1.5s;
}

@keyframes fadeEffect {
  from {opacity: .4} 
  to {opacity: 1}
}


.bottom-left-container {
  background-color: rgba(255, 255, 255, 0.70); /* Semi-transparent white background */
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  height: 200px;
  margin: 0 auto; /* Center the container */
  position: absolute; /* Position it on the image */
  top: 40%;
  left: 12%;

  display: flex;          /* Flexbox layout */
  flex-direction: column; /* Stack text above button */
  justify-content: center;/* Center content vertically */
  align-items: flex-start;
}

.bottom-left {
  color: #9E5B08; /* Text color */
  font-size: 28px;
  padding: 10px 20px;
  border-radius: 5px;
  
}

#Appointment {
  font-size: 1vw;
  border: 1px solid #866442;
  border-radius: 10px;
  background-color: #9D724C;
  color: white;
  padding: 15px 20px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  margin-top: 10px; /* Add some space between the text and button */
  display: block;
  width: 100%; /* Make the button full width inside the container */
}

#Appointment:hover {
  background-color: #F5E3CD;
  color: white;
}


/*end of first banner*/

/*start second banner*/
.about-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    max-width: 1600px;
    margin: 50px auto; /* centers section */
    margin-top: 120px;
    padding: 20px; 
}

.about-image img {
    margin-left: 100px;
    max-width: 700px;  /* adjust size as needed */
    height: auto;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.about-text {
    margin-left: 40px;
    margin-right: 100px;
    flex: 1;  /* takes up remaining space */
    font-family: "Montserrat", sans-serif;
    color: #502C00;
}

.about-text h2 {
    margin-bottom: 15px;
    font-size: 24px;
    color: #502C00;
    text-align: center;
}

.about-text p {
    margin-bottom: 12px;
    line-height: 1.9;
    text-align: justify;  
}

/*end of second banner*/

/* Why Choose Us Section */
.why-choose {
    padding: 60px 10%;
    background-color: #ffffff; 
    text-align: center;
    font-family: Arial, sans-serif;
    border-top: 2px solid #F5E3CD;
    border-bottom: 2px solid #F5E3CD;

}

.why-choose img{
    max-width: 150px;
    height: auto;
    margin-left: 80px;
}

.why-choose h2 {
    font-size: 28px;
    margin-bottom: 40px;
    color: #502C00;
    font-weight: bold;
    
}

/* Grid layout */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 25px;
    margin-bottom: 40px;
}

.grid-item {
    background: #ffffff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: left;
}

.grid-item:hover {
    background-color: #FEF3E7;
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.12);
    transition: background 0.5s;
}

.grid-item h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #502C00;
    font-weight: bold;
    text-align: center;
}

.grid-item p {
    font-size: 15px;
    color: #502C00;
    line-height: 1.6;
    text-align: center;
}

/* Retained paragraph styling */
.why-choose-text {
    max-width: 1350px;
    margin: 0 auto;
    font-size: 16px;
    color: #502C00;
    line-height: 1.8;
    text-align: center;
}
/*end of Why choose us Section*/

/* Doctors Section */
.doctors {
  padding: 70px 10%;
  max-width: 100%;
  background: #fff;
  text-align: center;
  color: #502C00;
}
.doctor-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 30px;
}
.doctor-card {
  background: #F5E3CD;
  height: 120%;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-decoration: none;
}
.doctor-card img {
  width: 100%;
  height: 80%;
  border: 1px solid #9E5B08;
}

.doctor-card img:hover{
    background-color: #FEF3E7;
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.12);
    transition: background 0.5s;
}
.doctor-card p {
  margin-top: 20px;
  color: #502C00;
  font-weight: bold;
}

/*end of doctor's section*/

/* Services Section */
.services {
  padding: 120px 10%;
  background: #fff;
  text-align: center;
  color: #502C00;
}
.service-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 80px;
  margin-top: 30px;
}
.service-card {
  position: relative;
}

.service-card img {
  width: 90%;
  height: 100%;
}

.service-card .overlay {
  position: absolute;
  top: 30%;
  left: 73%;
  font-size: 24px;
  line-height: 2;
  color: #fff;
  text-align: left;
  opacity: 1; /* Keep text visible */
  transform: translateY(0); /* Keep text in its final position */
  transition:  transform 0.3s ease; /* Smooth transition for text */
}

.service-card .overlay-right{
  position: absolute;
  top: 30%;
  right:73%;
  font-size: 24px;
  line-height: 2;
  color: #fff;
  opacity: 1; /* Keep text visible */
  transform: translateY(0); /* Keep text in its final position */
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.service-card .overlay h3{
    font-size: 30px;
    transform: translateX(-20%);  
}

.service-card .overlay-right h3{
    font-size: 30px;
    transform: translateX(20%);
}

.service-card li {
  transform: translateY(0); 
  transition: transform 0.3s ease, color 0.3s ease; /* Smooth transition for individual items */
}

.service-card li a {
  color: #fff; 
  text-decoration: none; 
  display: block; /* Make link occupy full width of li */
 
  transition: transform 0.3s ease, color 0.3s ease; /* Add smooth transition for the hover effect */
}

/* Hover effect for individual list items */
.service-card li:hover {
  color: #FEF3E7; /* Change text color on hover */
  transform: scale(1.1); /* Slight zoom effect on hover */
}
/*end of services section*/

/*Pictures of Clinic Section*/
.Clinic-Images {
  padding: 16px 10%;
  background: #F5E3CD;
  text-align: center;
  color: #502C00;
}

.Clinic-Images h2, .Clinic-Images h3 {
  color: #502C00;
}

.Clinic-Slideshow {
  padding: 50px;
  position: relative;
  max-width: 2000px;
  margin: auto;
}

.Clinic-Slide {
  display: none;
  max-width: 100%;
  height: auto;
}

/* Navigation buttons */
.display-left, .display-right {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  background-color: rgba(0,0,0,0.5);
  border: none;
  user-select: none;
  transform: translateY(-50%);
  
}
.display-left {
  left: 0;
}

.display-right {
  right: 0;
}

/*end of Clinic Picture Section*/

/* Start of Reviews*/
.Reviews{
    padding: 50px 0px;
    text-align: center;
    color: #502C00;
}

.Reviews-of-Patient h2{
    padding: 24px 0px;
    color:#502C00;
    text-align: center;
}

.Reviews-of-Patient{
 
  height: 200px;
  overflow: hidden;
}
.Reviews-of-Patient img{
  width: 80px;
  border-radius: 50%;
}
/*end of Reviews*/

/*Map of Dental Clinic*/
.Mapru {
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start;
  flex-wrap: wrap; 
  gap: 20px; 
  padding: 16px;
  color: #502C00;

}

.Map{
  padding: 24px 0px;
  align-items: center;
  text-align: center;
  background-color: #F5E3CD;
  color: #502C00;
}
.Mapru iframe {
  padding:24px 0px;
  width: 50%;
  height: 500px;
  border: none;
  margin-left: 120px;
  margin-right: 50px;
}

.details .info-row {
  display: flex;
  align-items: center;
  gap: 12px; 
  margin-bottom: 12px;
}

.details .info-row img {
  margin-right: 5px;
  width: 50px;
  height: 50px;
}

.details .info-row p {
  margin: 0;
  font-size: 20px;
  text-align: left;
}

.details h2{
  margin-bottom: 5%;
  text-align: left;
}
/*end of map*/


